.title-export {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.title-export h5 {
  font-size: 20px;
}

.container-print {
  padding: 0 50px;
}

.container-print td {
  font-size: 14px!important;
}

.container-print th {
  font-size: 16px!important;
}