body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px!important;
  font-weight: 400;
  font-family: Poppins,Helvetica,sans-serif;
  background: #f2f3f7;
}

.opacity-50 {
  opacity: .5!important;
}

.fallback input {
  overflow: hidden;
  border: 1px solid #000;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.f-12 {
  font-size: 12px;
}

.new-button {
  display: inline-block;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #007bff;
  font-size: 12px;
  color: #fff;
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: #fff;
}
.button-wrap {
  position: relative;
  text-align: center;
}

.list-file {
  list-style: none;
  padding: 0;
}

.list-file li {
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #eee
}

.list-file li a {
  /* background: #eee; */
  flex-flow: row wrap;
}

.list-file li a > div{
  width: 100%;
  color: #212529;
}

.list-file li a > div span{
  font-size: 10px;
  color: #7e8299;
}


table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #dee2e6!important;
}

.title-export {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.title-export h5 {
  font-size: 20px;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-bottom: 20px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #dee2e6!important;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn.btn-hover-transparent-white {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.modal-info p {
  color: #7e8299;
}

btn.btn-hover-transparent-white.focus:not(.btn-text), .btn.btn-hover-transparent-white:focus:not(.btn-text), .btn.btn-hover-transparent-white:hover:not(.btn-text):not(:disabled):not(.disabled) {
  color: #fff;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background: #fff!important;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #fff!important;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: #fff!important;
}

.btn-light-primary {
  color: #3699ff;
  background-color: #e1f0ff;
  border-color: transparent;
  text-align: center;
}

.text-dark {
  color: #181c32!important;
}

.font-weight-bold {
  font-weight: 500!important;
}

@media (max-width: 600px) {
  .table {
    width: 100%;
    overflow: auto;
    display: block;
  }
}

.dropdown-menu.show {
  background: #3699ff;
  border: none;
}

.dropdown-item {
  font-weight: 500;
  opacity: .8;
  color: #fff;
}

@media (min-width: 992px) {
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 66px;
    background-color: #3699ff;
  }

  .nav-item {
    padding: 0;
    margin-right: .25rem;
    position: relative;
  }

  .nav-item .nav-link {
    margin: 0;
    padding: .85rem 1.25rem;
    font-weight: 500;
    opacity: .8;
    color: #fff;
  }
}

.login {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.login .content {
  width: 500px;
  margin: 40px auto 10px auto;
  padding: 30px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}

.modal-info {
  padding: 1rem;
}

.login-card {
  padding: 20px;
}

/* User list */
.table tr th {
  color: #b5b5c3;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 12px 10px;
}

.table tr th {
  color: #3f4254;
  vertical-align: middle;
  padding: 12px 10px;
  font-size: 1rem;
}

.card {
  box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
  border: 0;
}

.table {
  overflow: auto;
}
.card-header {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border:none;
}

.card-title h5 span {
  font-weight: normal;
  font-size: 12px;
  display: block;
}

.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .5rem;
  margin-left: 0;
  font-weight: 500;
  font-size: 1.275rem;
  color: #181c32;
}

.card-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .5rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}